## List
+ List is a sequences typically used to store collections of homogeneous items
+ Lists are imutable.
+ Using a pair of squate brackets to denote the empty list[].
+ Using square brackets, seperating items with commas:[a],[a,b,c].
+ Using a list comprehension:[x for x in iterable].
+ Using the type constructor: list() or list(iterable).

In [4]:
l1 = [1,2,2,3,4,54,14,4,"hello"]
print(type(l1))
l1

<class 'list'>

[1, 2, 2, 3, 4, 54, 14, 4, 'hello']

In [13]:
l1 = [1,2,2,3,4,54,14,4,"hello"]
l2 = ['Welcome',1,2]
l3=l1+l2
print(l3)
print(l3[0])
print(l3[-3])
print(l3[:])
print(l3[::-1])
print(l3[11:9:-1])

[1, 2, 2, 3, 4, 54, 14, 4, 'hello', 'Welcome', 1, 2]
1
Welcome
[1, 2, 2, 3, 4, 54, 14, 4, 'hello', 'Welcome', 1, 2]
[2, 1, 'Welcome', 'hello', 4, 14, 54, 4, 3, 2, 2, 1]
[2, 1]

In [15]:
# list methods
dir(list)
a=[]
dir(l1)
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
# append
a=[1,2,3,4,5]
a.append([6,7,8,9,0])
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 0]]

In [26]:
# extend
a=[1,2,3,4,5]
a.extend([6,7,8,9,0])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [47]:
a=[1,2,3,4,5]
a.extend([5,4,6,7,8,9,0])
print(a)

[1, 2, 3, 4, 5, 5, 4, 6, 7, 8, 9, 0]

In [48]:
a.count(4)

2

In [49]:
a.index(6)

7

In [50]:
a.pop(6)

4

In [51]:
a.remove(6)
a

[1, 2, 3, 4, 5, 5, 7, 8, 9, 0]

In [53]:
a.clear()
a

[]

In [57]:
x=[1,2,3,58,46,92,11]
x.sort()
x
x.reverse()
x

[92, 58, 46, 11, 3, 2, 1]

In [59]:
#insert (position,value)
vowels=['a','i']
vowels.insert(1,'e')
vowels.insert(3,'o')
vowels.insert(4,'u')
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [60]:
# copy
y=x.copy()
x.append(100)
print(y)
print(x)

[92, 58, 46, 11, 3, 2, 1]
[92, 58, 46, 11, 3, 2, 1, 100]

In [61]:
x

[92, 58, 46, 11, 3, 2, 1, 100]

In [63]:
y

[92, 58, 46, 11, 3, 2, 1]

In [88]:
x=[]
for i in range(1,10+1):
    x.insert(10,i)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [89]:
m=[]
n=int(input("Enter range: "))
for i in range(i+1):
    m.append(i)
    print(m)

Enter range: 20
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Tuples
+ Tuples are immutable sequences, typically used to store collections of heterogeneous data.
+ Tuples are also used for cases where an immutable sequence of homogeneous data is needed (such as allowing storage in set or dict instance).
+ Using a pair of paranthesis to denote the empty tuple:().
+ Using a trailing comma for a singleton tuple: a, or (a,).
+ Seperating items with commas: a, b, c or(a, b, c).
+ Using the tuple() or tuple(iterable).

In [90]:
t=()
type(t)

tuple

In [93]:
t=(1,2,3,4,5,"a","b","c")
print(t[0])
print(t[-1])
print(t[5])
print(t[2:5])
print(t[::-1])
print(t[0:])

1
c
a
(3, 4, 5)
('c', 'b', 'a', 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 'a', 'b', 'c')

In [94]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [102]:
a=[1,2,3,4,5,6,1,2,3,4,5,6,7,8,1]
set(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
s=[1,2,3,4,5,6,1,2,3,4,5,6,7,8,1]
s1=[]
for i in s:
    if i not in s1:
        s1.append(i)
print(s1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [106]:
#packing
student =('abc','123456','cse')
(name,rollnumber,department)=student
print(name)
print(rollnumber)
print(department)

abc
123456
cse

## Dictionaries
+ Creating a dictionaries is as simple as placing items inside curly braces {} seperated by commas/
+ An item has a key and a corresponding value that is expressed as a pair(key:value)
+ Access values, a dictionary uses keys

In [108]:
address={}
type(address)

dict

In [109]:
address={1,2,3,4,5}
type(address)

set

In [111]:
address = {'name':'abc','place':'Ongole'}
address

{'name': 'abc', 'place': 'Ongole'}

In [112]:
address['pincode']=520010
address

{'name': 'abc', 'place': 'Ongole', 'pincode': 520010}

In [113]:
address.get('pincode')

520010

In [114]:
address.items()

dict_items([('name', 'abc'), ('place', 'Ongole'), ('pincode', 520010)])

In [115]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [116]:
address.values()

dict_values(['abc', 'Ongole', 520010])

In [117]:
address.popitem()

('pincode', 520010)

In [119]:
address.pop('name')

'abc'

In [120]:
address

{'place': 'Ongole'}

In [125]:
address1={'pincode':523001,'street':'ongole'}
address1

{'pincode': 523001, 'street': 'ongole'}

In [126]:
address['name']="xyz"

In [127]:
address

{'place': 'Ongole', 'name': 'xyz'}

In [130]:
address2=dict.fromkeys(address,"fields")

In [131]:
address2

{'place': 'fields', 'name': 'fields'}

## Sets
+ A set is an unordered collection of items. Every set element is unique (no dyuplicates) and must be immutable (cannot be changed).
+ A set is created by placing all the items (elements) inside curly braces {}, seperated by comma, or by using the builtin set() function.

In [2]:
# Sets
s = {1,2,3,4,5,6,7,8,9}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [4]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
a={1,2,0}
s.union(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
s.intersection(a)

{1, 2}

In [11]:
s.add(9)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
s.difference(a)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
print(s.difference(a))

{3, 4, 5, 6, 7, 8, 9}

In [20]:
s.pop()

1

In [24]:
s.remove(6)
s

{3, 4, 5, 7, 8, 9}